<div id="@Model" class="orgtree">
    <div class="getOrganizationsUrl" style="display: none;">@Url.Action("GetOrganizations", "OrganizationManager")</div>
    <div class="getOrganizationUrl" style="display: none;">@Url.Action("GetOrganization", "OrganizationManager")</div>
    <div class="expandIconUrl" style="display: none;">@Url.Content("~/Content/images/expandicon.png")</div>
    <div class="collapseIconUrl" style="display: none;">@Url.Content("~/Content/images/collapseicon.png")</div>
    <div class="emptyIconUrl" style="display: none;">@Url.Content("~/Content/images/emptyicon.png")</div>
</div>
